absl-py==2.1.0
aiofiles==23.1.0
altair==5.4.1
anyio==4.6.0
fastapi==0.115.0
gradio==4.14.0
h5py==3.11.0
huggingface-hub==0.25.1
matplotlib==3.9.0
numpy==1.26.4
opencv-python==4.10.0.84
pandas==2.2.2
requests==2.32.3
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
tensorflow==2.17.0
torch==2.4.0
uvicorn==0.30.6
thop==0.1.1-2209072238
protobuf==4.25.4
keras==3.3.3
transforms==0.2.1
jupyter==1.1.1
ipykernel==6.29.5 
streamlit==1.39.0 
plyer==2.1.0 
streamlit-authenticator==0.1.5
mysql-connector-python==9.1.0
git==2.43.0
torch==2.5.1+cu118
torchaudio==2.5.1+cu118
torchvision==0.20.1+cu118
xformers==0.0.28.post3
simpleaudio==1.0.4
pytest==8.3.4

